<div class="t20-quickbar">
  <div class="t20-quickbar-inner">
    <div class="t20-button" data-tab="pericias" title="Perícias">
      <img src="modules/tormenta20-interface-module/img/pericias.png" alt="Perícias">
    </div>
    <div class="t20-button" data-tab="poderes" title="Poderes">
      <img src="modules/tormenta20-interface-module/img/poderes.png" alt="Poderes">
    </div>
    <div class="t20-button" data-tab="magias" title="Magias">
      <img src="modules/tormenta20-interface-module/img/magias.png" alt="Magias">
    </div>
    <div class="t20-button" data-tab="inventario" title="Inventário">
      <img src="modules/tormenta20-interface-module/img/inventario.png" alt="Inventário">
    </div>
  </div>
</div>